<p style="color: green"><%= notice %></p>

<%= render @cart %>

<div>
  <%= button_to "Continue shopping", store_index_path, method: 'get' %>

  <%= button_to "Go to pay", new_order_path, method: 'get' %>
</div>
