<% if brand.errors.any? %>
  <%= render 'layouts/errors' , errors: brand.errors %>
<% end %>

<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>

  <p>
    <strong>Cod:</strong>
    <%= brand.cod %>
  </p>


</div>
