<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>

  <p>
    <strong>Cod:</strong>
    <%= brand.cod %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= brand.active %>
  </p>


</div>
