<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% if @categories %>
    <%= render 'category_table', categories: @categories%>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
